In [2]:
import numpy as np 
import pandas as pd

In [7]:
df1 = pd.read_excel('excel_assignment.xlsx', sheet_name='data')
agents = pd.read_excel('excel_assignment.xlsx',sheet_name='Agent Roster')

In [8]:
agents

   Agent ID    Name Start Date
0    513363   Jared 2021-12-01
1     89601  Rachel 2022-02-15
2    543362  Roshan 2022-03-01
3      4861   Erica 2022-05-21
4    141434   Sarah 2022-08-07

In [9]:
df1

,Chat ID,Chat completion,Agent ID,Department,# of messages,First reply time (sec),Avg Reply Time (sec),Chat duration (min),% Chat satisfaction score
0,1001.0,Completed,513363,Pro,41.0,21.0,48.370461,21.883333,1.0
1,1002.0,Completed,513363,Pro,60.0,21.0,45.254822,24.866667,NaN
2,1003.0,Completed,513363,Pro,41.0,18.0,26.386818,10.266666,NaN
3,1004.0,Completed,513363,Pro,22.0,21.0,29.591499,4.333333,NaN
4,1005.0,Completed,513363,Pro,15.0,21.0,90.452667,8.066667,NaN
...,...,...,...,...,...,...,...,...,...
1353,2359.0,Completed,141434,Pro,7.0,16.0,14.046000,9.000000,NaN
1354,2360.0,Completed,543362,Pro,5.0,16.0,15.969000,3.100000,NaN
1355,2361.0,Completed,543362,Pro,14.0,18.0,23.295500,4.216667,1.0
1356,2362.0,Completed,543362,Pro,13.0,18.0,15.083250,5.416667,NaN
1357,2363.0,Completed,543362,Homeowner,22.0,18.0,32.360001,6.066667,NaN

In [12]:
def getAgent(agentid):
    dict = {
        513363:'Jared',
        89601: 'Rachel',
        543362: 'Roshan',
        4861: 'Erica',
        141434: 'Sarah'  
    }
    return dict[agentid]

df1['Agent Name'] = df1['Agent ID'].apply(getAgent)
df1

,Chat ID,Chat completion,Agent ID,Department,# of messages,First reply time (sec),Avg Reply Time (sec),Chat duration (min),% Chat satisfaction score,Agent Name
0,1001.0,Completed,513363,Pro,41.0,21.0,48.370461,21.883333,1.0,Jared
1,1002.0,Completed,513363,Pro,60.0,21.0,45.254822,24.866667,NaN,Jared
2,1003.0,Completed,513363,Pro,41.0,18.0,26.386818,10.266666,NaN,Jared
3,1004.0,Completed,513363,Pro,22.0,21.0,29.591499,4.333333,NaN,Jared
4,1005.0,Completed,513363,Pro,15.0,21.0,90.452667,8.066667,NaN,Jared
...,...,...,...,...,...,...,...,...,...,...
1353,2359.0,Completed,141434,Pro,7.0,16.0,14.046000,9.000000,NaN,Sarah
1354,2360.0,Completed,543362,Pro,5.0,16.0,15.969000,3.100000,NaN,Roshan
1355,2361.0,Completed,543362,Pro,14.0,18.0,23.295500,4.216667,1.0,Roshan
1356,2362.0,Completed,543362,Pro,13.0,18.0,15.083250,5.416667,NaN,Roshan
1357,2363.0,Completed,543362,Homeowner,22.0,18.0,32.360001,6.066667,NaN,Roshan

In [13]:
df1.groupby('Agent Name').agg({'First reply time (sec)':np.mean, '# of messages':np.mean, 'Avg Reply Time (sec)':np.mean, '% Chat satisfaction score': np.mean})

,First reply time (sec),# of messages,Avg Reply Time (sec),% Chat satisfaction score
Agent Name,,,,
Erica,75.363281,20.529183,47.290144,0.851852
Jared,17.698246,22.599303,35.755483,0.538462
Rachel,30.778761,16.484979,46.502077,0.750000
Roshan,32.215328,19.253623,33.624795,0.657143
Sarah,30.137705,14.540984,47.282888,0.551724